:root {


  --global-font-family: system-ui, sans-serif;
  --global-font-size: 1rem;
  --global-base-font-size: 16;
  --global-label-font-size: 1.1875rem; /* 19/16 */

  --global-font-weight-bold: 600;

  --color-background-light: #fff;
  --color-background-subtle: #fafafa;
  --color-text: #444;
  --color-text-subtle: #595959;
  --color-text-label: var(--color-text);
  --color-border: #949494;

  --size-border: 0.1875rem;
  --size-border-small: 0.125rem;

  --size-border-radius: 0.1875rem;

  --size-space-4: 0.25rem;
  --size-space-8: 0.5rem;
  --size-space-12: 0.75rem;
  --size-space-16: 1rem;
  --size-space-24: 1.5rem;
  --size-space-32: 2rem;

  --size-dimension-4: 0.25rem;
  --size-dimension-8: 0.5rem;
  --size-dimension-40: 2.5rem;

  --size-outline: 0.1875rem;

  --color-accent: #00857e;
  --color-error: #d4351c;
  --color-focus: #4c9aff;
  --color-progress: #00857e;


  /* --------------------------------------------------------*/

  

  /* Form */
  --form-bg-color: var(--color-background-subtle);
  --form-border-radius: var(--size-border-radius);
  --form-width: calc(68ch + 2ch + 0.125em);
  --form-text-size-title: 2em; /* 32/16 */
  --form-text-size-description: 1em; /* 16 */

  /* Page header */
  --form-current-page-title-font-size: 1.5em; /* 24/16 */
  --form-current-page-description-font-size: 1em; /* 16/16 */

  /* Progress indicator */
  --form-progress-label-color: var(--color-text-label);
  --form-progress-label-font-size: var(--global-font-size);
  --form-progress-bar-bg-color: #fff;
  --form-progress-value-bg-color: var(--color-progress);

  /* Form fields */
  --form-field-label-color: var(--color-text-label);
  --form-field-label-font-size: var(--global-label-font-size);
  --form-field-label-font-weight: var(--global-font-weight-bold);
  --form-field-text-color: var(--color-text);
  --form-field-bg-color:  var(--color-background-light);
  --form-field-hover-bg-color: #effefc;
  --form-field-error-bg-color: #f9d7d7;
  --form-field-border-color: var(--color-border);
  --form-field-border-focus-color: var(--color-accent);
  --form-field-border-error-color: var(--color-error);

  --form-field-border-width: var(--size-border-small);
  --form-field-border-radius: var(--size-border-radius);
  --form-field-padding: var(--size-space-8);
  --form-field-border-width-error: var(--size-dimension-4); 

  /* Form field width */
  --form-field-width-25: 25%;
  --form-field-width-33: 33.33%;
  --form-field-width-50: 50%;
  --form-field-width-66: 66.66%;
  --form-field-width-75: 75%;
  --form-field-width-100: 100%;

  --form-field-width-char-2: calc(2ch + 2ch + 0.125em); /* 2 Characters + Padding + Border */
  --form-field-width-char-3: calc(3ch + 2ch + 0.125em); /* 3 Characters + Padding + Border */
  --form-field-width-char-4: calc(4ch + 2ch + 0.125em); /* 4 Characters + Padding + Border */
  --form-field-width-char-5: calc(5ch + 2ch + 0.125em); /* 5 Characters + Padding + Border */
  --form-field-width-char-10: calc(10ch + 2ch + 0.125em); /* 10 Characters + Padding + Border */
  --form-field-width-char-20: calc(20ch + 2ch + 0.125em); /* 20 Characters + Padding + Border */
  --form-field-width-char-30: calc(30ch + 2ch + 0.125em); /* 30 Characters + Padding + Border */

  /* Form buttons */
  --form-button-font-size: var(--global-font-size);
  --form-button-text-color: var(--color-text);
  --form-button-border-color: var(--color-border);
  --form-button-border-width: var(--size-border);
  --form-button-border-radius: var(--size-border-radius);
}

*,
::after,
::before {
  box-sizing: border-box;
}

.visually-hidden {
  display: none;
}

html {
  background-color: var(--color-background-subtle);
  font-family: var(--global-font-family);
  color: var(--color-text);
  font-size: var(--global-font-size);
}

form {
  --background-color: var(--form-bg-color);
  --font-size: var(--global-font-size);
  --border-radius: var(--form-border-radius);
  --width: var(--form-width);

  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  font-size: var(--font-size);
  border-radius: var(--border-radius);
  margin: 3em auto;
  inline-size: 100%;
  max-inline-size: var(--width);
}

.form-load-error {
  color: var(--color-error);
}

/* --------------------------------------------------------*/
/* Form header                                             */
/* --------------------------------------------------------*/

.form-header {
  padding-block-end: var(--size-space-24);
}

.form-title {
  font-size: var(--form-text-size-title);
  margin: 0;
  padding-block-end: var(--size-space-8);
}

.form-description {
  font-size: var(--form-text-size-description);
  margin: 0;
}

/* --------------------------------------------------------*/
/* Current page                                            */
/* --------------------------------------------------------*/

.form-current-page {
  display: flex;
  flex-direction: column;
  gap: var(--size-space-32);
}

.form-current-page-header {
  display: flex;
  flex-direction: column;
  gap: var(--size-space-8);
}

.form-current-page-title {
  --font-size: var(--form-current-page-title-font-size);
  --font-weight: var(--global-font-weight-bold);

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin: 0;
}

.form-current-page-description {
  --font-size: var(--form-current-page-description-font-size);

  font-size: var(--font-size);

  & p {
    margin: 0;
  }
}

/* --------------------------------------------------------*/
/* Fields container                                        */
/* --------------------------------------------------------*/

.form-fields-container {
  display: flex;
  flex-direction: column;
  gap: var(--size-space-32);
}

/* --------------------------------------------------------*/
/* Fieldset                                                */
/* --------------------------------------------------------*/

.form-fieldset {
  border: none;
  padding: 0;

  & legend {
    --color: var(--form-field-label-color);
    --font-size: var(--form-field-label-font-size);
    --font-weight: var(--form-field-label-font-weight);

    color: var(--color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    padding: 0;
  }
}

.form-fieldset-has-error {
  border-inline-start: var(--form-field-border-width-error) solid var(--color-error);
  padding-inline-start: var(--size-space-16);
}

/* --------------------------------------------------------*/
/* Field                                                   */
/* --------------------------------------------------------*/

.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--size-space-4);
}

.form-field-has-error {
  border-inline-start: var(--form-field-border-width-error) solid var(--color-error);
  padding-inline-start: var(--size-space-16);
}

.form-field-error {
  color: var(--color-error);
  font-weight: bolder;
}

.form-field-label {
  font-size: var(--form-field-label-font-size);
  color: var(--form-field-label-color);
  font-weight: var(--form-field-label-font-weight);
}

.form-field-instructions {
  color: var(--color-text-subtle);
  line-height: 1.5;
  margin-block-end: var(--size-space-8);
}

/* --------------------------------------------------------*/
/* Validation summary                                      */
/* --------------------------------------------------------*/

.form-validation-summary {
  border: var(--size-border) solid var(--color-error);
  background-color: var(--color-background-light);
  padding: var(--size-space-16);

  &:focus {
    outline: var(--size-outline) solid var(--color-focus);
    outline-offset: 0;
  }
}

.form-validation-summary-title {
  margin-block-start: 0;
}

.form-validation-summary-list {
  color: var(--color-error);
  font-weight: var(--global-font-weight-bold);
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;

  & a {
    color: var(--color-error);
  }
}

/* --------------------------------------------------------*/
/* Buttons                                                 */
/* --------------------------------------------------------*/

.form-actions {
  display: flex;
  gap: var(--size-space-16);
  justify-content: flex-end;
  padding-block: var(--size-space-32);
}

.form-button {
  border: var(--size-border) solid var(--color-border);
  border-radius: var(--form-button-border-radius);
  padding: var(--size-space-12) var(--size-space-8);
  font-size: var(--form-button-font-size);
  font-weight: var(--global-font-weight-bold);

  &:focus {
    outline: var(--size-outline) solid var(--color-focus);
    outline-offset: 0;
  }
}

.form-button--primary {
  background-color: #00857e;
  color: #fff;
  border-color: #00857e;

  &:hover {
    background-color: #006c67;
    border-color: #006c67;
  }

  &:disabled {
    background-color: #949494;
    color: var(--color-text);
    border-color: #949494;
  }
}

.form-button--secondary {
  background-color: #ffffff;
  color: var(--color-text);
  border-color: #dbdbdb;

  &:hover {
    background-color: #f0f0f0;
    border-color: #dbdbdb;
  }

  &:disabled {
    background-color: #949494;
    color: #fff;
    border-color: #c9c9c9;
  }
}

/* --------------------------------------------------------*/
/* Form standard inputs                                    */
/* --------------------------------------------------------*/
.form-text-input,
.form-email-input,
.form-tel-input,
.form-url-input,
.form-select-input,
.form-multiline-input,
.form-integer-input,
.form-decimal-input,
.form-date-input,
.form-date-time-input,
.form-time-input,
.form-date-day-input,
.form-date-month-input,
.form-date-year-input,
.form-date-hour-input,
.form-date-minute-input {
  --width: var(--form-field-width-100);

  padding: var(--form-field-padding);
  inline-size: var(--width);
  border: var(--form-field-border-width) solid var(--form-field-border-color);
  border-radius: var(--form-field-border-radius);
  min-block-size: var(--size-dimension-40);
  font-size: var(--global-font-size);
  background-color: var(--form-field-bg-color);

  &:hover {
    background-color: var(--form-field-hover-bg-color);
  }
}

.form-text-input:focus,
.form-email-input:focus,
.form-tel-input:focus,
.form-url-input:focus,
.form-select-input:focus,
.form-radio-input:focus,
.form-checkbox-input:focus,
.form-multiline-input:focus,
.form-integer-input:focus,
.form-decimal-input:focus,
.form-date-input:focus,
.form-date-time-input:focus,
.form-time-input:focus,
.form-date-day-input:focus,
.form-date-month-input:focus,
.form-date-year-input:focus,
.form-date-hour-input:focus,
.form-date-minute-input:focus {
  outline: var(--size-outline) solid var(--color-focus);
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.0625em var(--form-field-border-focus-color);
  border-color: var(--form-field-border-focus-color);
}

.form-text-input.form-text-input-has-error,
.form-email-input.form-email-input-has-error,
.form-tel-input.form-tel-input-has-error,
.form-url-input.form-url-input-has-error,
.form-select-input.form-select-input-has-error,
.form-multiline-input.form-multiline-input-has-error,
.form-integer-input.form-integer-input-has-error,
.form-decimal-input.form-decimal-input-has-error,
.form-date-input.form-date-input-has-error,
.form-date-time-input.form-date-time-input-has-error,
.form-time-input.form-time-input-has-error,
.form-date-day-input.form-date-day-input-has-error,
.form-date-month-input.form-date-month-input-has-error,
.form-date-year-input.form-date-year-input-has-error,
.form-date-hour-input.form-date-hour-input-has-error,
.form-date-minute-input.form-date-minute-input-has-error {
  border: var(--form-field-border-width) solid var(--color-error);
  box-shadow: inset 0 0 0 0.0625em var(--form-field-border-error-color);
  background-color: var(--form-field-error-bg-color);
}

.form-multiline-input {
  block-size: 8rem;
}

.form-multiline-input.form-multiline-input-auto {
  block-size: auto;
}

.form-multiline-input.form-multiline-input-small {
  block-size: 8rem;
}

.form-multiline-input.form-multiline-input-medium {
  block-size: 8rem;
}

.form-multiline-input.form-multiline-input-large {
  block-size: 16rem;
}

/* --------------------------------------------------------*/
/* Select dropdown                                         */
/* --------------------------------------------------------*/

.form-select-input {
  -webkit-appearance: none;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  background-color: var(--form-field-bg-color);
  padding-inline-end: var(--size-space-32);
}

/* --------------------------------------------------------*/
/* Radio and checkboxes                                    */
/* --------------------------------------------------------*/

.form-radio-list {
  display: flex;
  flex-direction: column;
  gap: var(--size-space-16);
}

.form-radio {
  display: flex;
}

.form-radio-label {
  margin-inline-start: var(--size-space-12);
  align-self: center;
}

.form-radio-input {
  inline-size: var(--size-dimension-40);
  block-size: var(--size-dimension-40);
  border: var(--form-field-border-width) solid var(--form-field-border-color);
  accent-color: var(--color-accent);
  margin: 0;
}

.form-checkbox-list {
  display: flex;
  flex-direction: column;
  gap: var(--size-space-16);
}

.form-checkbox {
  display: flex;
}

.form-checkbox-label {
  margin-inline-start: var(--size-space-12);
  align-self: center;
}

.form-checkbox-input {
  inline-size: var(--size-dimension-40);
  block-size: var(--size-dimension-40);
  border: var(--form-field-border-width) solid var(--form-field-border-color);
  accent-color: var(--color-accent);
  margin: 0;
}

/* --------------------------------------------------------*/
/* Date and time                                           */
/* --------------------------------------------------------*/

.form-date-item {
  display: inline-block;
}

.form-date-day-input,
.form-date-hour-input,
.form-date-minute-input {
  max-inline-size: var(--form-field-width-char-2);
}

.form-date-month-input {
  max-inline-size: var(--form-field-width-char-3);
}

.form-date-year-input {
  max-inline-size: var(--form-field-width-char-4);
}

.form-time-input {
  max-inline-size: var(--form-field-width-char-10);
}

.form-date-input {
  max-inline-size: var(--form-field-width-char-20);
}

.form-date-time-input {
  max-inline-size: var(--form-field-width-char-30);
}

/* --------------------------------------------------------*/
/* Progress bar                                            
/* --------------------------------------------------------*/

.form-progress {
  display: flex;
  flex-direction: column;
  gap: var(--size-space-4);
  padding-block-end: var(--size-space-24);
}

.form-progress-label {
  font-size: var(--form-progress-label-font-size);
  color: var(--form-progress-label-color);
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  block-size: var(--size-dimension-8);
  border-radius: 0.5em;
  background: var(--form-progress-bar-bg-color);
  inline-size: 100%;
}
progress[value]::-webkit-progress-bar {
  border-radius: 0.5em;
  background: var(--form-progress-bar-bg-color);
}
progress[value]::-webkit-progress-value {
  border-radius: 0.5em;
  background: var(--form-progress-value-bg-color);
}
progress[value]::-moz-progress-bar {
  border-radius: 0.5em;
  background: var(--form-progress-value-bg-color);
}

/* --------------------------------------------------------*/
/*
/* RTL Languages
/* 
/* Most of the styles for RTL are handled by the browser
/* using logical properties. but there are a few exceptions 
/* that need to be handled.
/*
/* --------------------------------------------------------*/

[dir='rtl'] {

  /* Ensures that email address and telephone number inputs are left-aligned */
  & .form-tel-input,
  & .form-email-input {
    text-align: end;
  }

   /* Places the dropdown caret to the left hand side of the dropdown */
  & .form-select-input {
    background-position: left 0.7em top 50%, 0 0;
  }

}