:root {
  --global-font-family: system-ui, sans-serif;
  --global-font-size: 1rem;
  --global-font-weight-bold: 600;
  --global-font-size-label: 1.1875rem;

  --color-text: #444;
  --color-bg-subtle: #fafafa;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.visually-hidden {
  display: none;
}

html {
  background-color: var(--color-bg-subtle);
  font-family: var(--global-font-family);
  color: var(--color-text);
  font-size: var(--global-font-size);
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
